@import './variables';
/*
    Contains all the helper(Modifier) classes which can be acrossed the app
*/

//Display properties

.d-none {
  display: none !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}
.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}

//Modifiers

.active {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.w-80 {
  width: 80%;
}

.m-auto {
  margin: auto;
}

.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}

.position-relative {
  position: relative !important;
}

//text

.has-text-primary {
  color: $primary;
}
