/*
Contains all the variables like colors, font sizes, familes etc.
*/

// Colors
$primary: #ee3c00;
$darkblue: #17073d;
$white: #fff;
$white-ter: #fbfafc;
$green: #03c772;
$green-lighter: rgba(3, 199, 114, 0.1);
$black: #323130;
$gray-variant-1: #7a7683;
$gray-variant-2: #74787c;
$purple: #2e224a;
$red: #ff4f4f;

//Font sizes

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;

//Font Family
