@import '../../../styles/variables';

.chat__card {
  max-width: 300px;

  &__attr {
    margin-top: 3rem;
  }

  &__bubble {
    position: relative;
    margin: 0.5em auto;
    padding: 1em;
    width: 300px;
    height: 120px;
    border-radius: 0.25em;
    transform: rotate(-4deg) rotateY(15deg);
    background: $primary;
    text-align: center;
    transition: transform 0.5s ease-in;
    cursor: pointer;

    &:hover,
    &:focus {
      transform: rotate(0);
      transition: transform 0.5s ease-out;
    }

    &:before,
    &:after {
      position: absolute;
      z-index: -1;
      content: '';
    }
    &:after {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
      background: #f4fbfe;
    }
    &:before {
      border: solid 0 transparent;
      border-right: solid 3.5em #f4fbfe;
      border-bottom: solid 0.25em $primary;
      bottom: 0.25em;
      left: 1.25em;
      width: 0;
      height: 1em;
      transform: rotate(45deg) skewX(75deg);
    }
  }
}
